<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Dlp.Buy4.AuthorizationProvider.ServiceLib.Provider">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Buy4NetTcpBindingConfig" name="ServiceEndPointNetTcpBindingConfiguration" contract="Dlp.Buy4.AuthorizationProvider.ServiceLib.IProvider">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="ServiceEndPointMexTcpBindingConfiguration" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:8524/AuthorizationProvider" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfiguration" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="Buy4NetTcpBindingConfig">
          <readerQuotas maxBytesPerRead="65536" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ServiceEndPointNetTcpBindingConfiguration">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="5000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>